# Compiled class file
*.class

# Bin directory #
bin/

# DDBB
*.db

# mvn build directory #
target/

# eclipse meta files #
.metadata
.settings/
*.launch
.classpath
.recommenders

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# External tool builders
.externalToolBuilders/

# Log/tmp/bak files
tmp/
*.log
*.log.*
*.tmp
*.bak
*.swp
*~.nib
*.orig




